<div class="container slick-container wow animate__bounceInUp my-5 pb-4 ">
  <div class="single-item btn-primary">
    <div><img src="assets/images/orange-tea.png" alt=""></div>
    <div><img src="assets/images/red-tea.png" alt=""></div>
    <div><img src="assets/images/black-tea.png" alt=""></div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-3 fw-bold">Ответы на часто задаваемые
    вопросы</h2>

  <div class="accordion-container d-flex justify-content-center wow animate__backInUp">

    <div id="accordion" class="w-75 mb-5 py-4">
      <h3 class="fw-bold border border-0 align-content-center bg-primary text-white mb-3 ">Собираете ли вы
        подарочные
        боксы?</h3>
      <div class="border-none">
        <p class="align-content-center ">
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </p>
      </div>
      <h3 class="fw-bold border border-0 align-content-center bg-primary text-white mb-3">Сколько у вас
        разновидностей
        чая?</h3>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aut commodi cum
          cupiditate
          dicta eligendi, eos esse illum iste natus non obcaecati omnis pariatur sapiente sed suscipit
          unde
          velit.
        </p>
      </div>
      <h3 class="fw-bold border border-0 align-content-center bg-primary text-white mb-3">В какой срок
        осуществляется
        доставка?</h3>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aperiam asperiores, at cum,
          cumque
          eos est eveniet, fugit ipsam maxime natus obcaecati pariatur perferendis quam totam vero
          voluptatibus
          voluptatum!
        </p>
      </div>
      <h3 class="fw-bold border border-0 align-content-center bg-primary text-white mb-3">У вас обновляется
        ассортимент?</h3>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aspernatur dicta distinctio,
          dolore
          doloribus earum et, facere harum laboriosam officiis possimus, repellat voluptatem? Ipsum
          officia
          porro
          quia rerum tempore.

        </p>
      </div>
      <h3 class="fw-bold border border-0 align-content-center bg-primary text-white">Какого объема у вас пачки
        чая?</h3>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid, animi architecto atque
          cumque
          deleniti enim est eveniet expedita ipsam, maxime mollitia non odit officia omnis placeat quia
          quidem
          voluptates!
        </p>
      </div>
    </div>

  </div>
</div>
<app-popup></app-popup>


