
<div class="container h-100 my-5 py-5">
  <h3 class="text-center fw-bold mb-5">Сделать заказ</h3>
  <div class="d-flex justify-content-center wow animate__bounceIn">
    <form class="col-md-8 col-lg-6" id="form">
      <div class="row mb-3">
        <div class="col-12">
          <label for="firstName" class="form-label">Товар</label>
          <input type="text" class="form-control form-submit">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <label for="firstName" class="form-label">Имя</label>
          <input type="text" class="form-control form-submit" id="firstName">
        </div>
        <div class="col-md-4">
          <label for="lastName" class="form-label">Фамилия</label>
          <input type="text" class="form-control form-submit" id="lastName">
        </div>
        <div class="col-md-4">
          <label for="phone" class="form-label">Телефон</label>
          <input type="tel" class="form-control form-submit" id="phone">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="country" class="form-label">Страна</label>
          <input type="text" class="form-control form-submit" id="country">
        </div>
        <div class="col-md-6">
          <label for="zipCode" class="form-label">Индекс</label>
          <input type="text" class="form-control form-submit" id="zipCode">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <label for="address" class="form-label">Адрес</label>
          <input type="text" class="form-control form-submit" id="address">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <label for="address" class="form-label">Комментарий к заказу</label>
          <input type="text" class="form-control form-submit">
        </div>
      </div>

      <div>
        <button class="btn btn-primary w-25  px-0" id="submit" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</div>
