<div class="container">
  <div class="row row-cols-2 d-flex justify-content-center my-5">
    <div class="card shadow-sm h-100 d-flex flex-column align-items-center col">
      <div class="card-body d-flex flex-column align-items-center justify-content-around">
        <img src="{{ product.image }}" class="w-50" alt="">
        <h5 class="fw-bold text-center">{{ product.title }}</h5>
        <p class="card-text text-center">{{ product.description }}</p>
        <div class="d-flex flex-column align-items-center">
          <div class="mb-3 fw-bold">
            {{ product.price }} руб.
          </div>
          <button type="button" class="btn btn-primary border-1 px-5 hvr-buzz-out" routerLink="/order"
                  [queryParams]="{product: product.title}">
            Купить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
